<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Note App
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
   
    <ion-item style="display:none">
      <ion-label position="floating">uuid</ion-label>
      <ion-input [(ngModel)]="employeeDetails.uuid" value="null" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input [(ngModel)]="employeeDetails.Title" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
    
      <ion-item>
          <ion-label position="floating">Description </ion-label>
          <ion-textarea rows="5" cols="10" [(ngModel)]="employeeDetails.Description" [ngModelOptions]="{standalone: true}"></ion-textarea>
        </ion-item>
          <ion-item>
              <ion-label>color</ion-label>
              <input type="color" name="favcolor" value="#000000" [(ngModel)]="employeeDetails.color" >
            </ion-item>
        <ion-item>
            <ion-label>Background color</ion-label>
            <input type="color" name="favcolor" value="#ffffff" [(ngModel)]="employeeDetails.bgcolor">
          </ion-item>
        
        <button class="btn btn-warning save" (click)="addEmployee()">Saving data</button>

    <div class="footer">
        <div class="col-6"><button type="button" class="btn btn-link">Link</button>
        </div>
        <button type="button" class="add_new btn btn-warning" [routerDirection]="'root'" [routerLink]="['/list']"><i class="fas fa-home"></i></button>
  
        <div class="col-6"><button type="button" class="btn btn-link" disabled>Link</button>
        </div>
    </div>
  </ion-content>